<app-header></app-header>

<h1>Hello Angular {{title}}</h1>
<app-one></app-one>
<app-two></app-two>
<app-three></app-three>
<app-login></app-login>

                        <!-- Events -->
<h3>Events</h3>
<button (click)="getData('hello')">Click me</button>
<br>
<br>
<input type="text" #box (keyup)= "getData(box.value)" placeholder="event keyup"/>
<br>
<br>
<input type="text" #box1 (keydown)= "getData(box1.value)" placeholder="event keydown"/>
<br><br>
<input type="text" #box2 (blur)= "getData(box2.value)" placeholder="event blur"/>
<br><br>
<input type="text" #box3 (input)= "getData(box3.value)" placeholder="event input"/>

<h1 (mouseover)="getData('over')">Mouse Over effect</h1>
<h2 (mouseleave)="getData('leave')">Mouse leave effect</h2>

                             <!-- get text box value and print  -->
<h3>get text box value and print</h3>
<input type="text" #box4 placeholder="enter name" name="name">
<button (click)="getValue(box4.value)">click</button>
<h4> The value of this input box is : {{displayVal}} </h4>
                          
                                  <!-- counter button -->

<h3>counter button</h3>
<button (click)="counter('add')">++</button>
<p>count : {{count}}</p>
<button (click)="counter('minus')">--</button>

                             <!-- Internal css -->

<h3>Internal CSS</h3>
<h1 class="two">Internal CSS!</h1>

                               <!-- Global css -->

<h3>Global CSS </h3>                               
<h1 class="three">Global CSS</h1>

                            <!-- Interpolation and Property Binding -->

<h3>Interpolation and Property Binding</h3>
<input type="text" name="user-name" value="{{name}}" disabled="{{disable}}">
<br><br>
<input type="text" name="user-name" [value]="name" [disabled]="disable">

<!-- if else condition -->

<h3>If else condition</h3>
<h1 *ngIf="show; then ifBlock else elseBlock"></h1>

<ng-template #ifBlock>
    <h1>this is if block</h1>
</ng-template>
<ng-template #elseBlock>
    <h1>this is else block</h1>
</ng-template>


<!-- if else if condition -->

<h3>if else if condition</h3>
<ng-template [ngIf]="color === 'red'">
    <h1 style="color: red;">Red color </h1>
</ng-template>
<ng-template [ngIf]="color === 'green'">
    <h1 style="color: green;">green color </h1>
</ng-template>

<!-- switch case -->

<h3>switch case</h3>
<div [ngSwitch]="color2">
    <h1 *ngSwitchCase="'red'">red color</h1>
    <h1 *ngSwitchCase="'green'">green color</h1>
    <h1 *ngSwitchCase="'blue'">blue color</h1>
    <h1 *ngSwitchCase="'orange'">orange color</h1>
    <h1 *ngSwitchDefault>Not available</h1>
</div>

<!-- for loop -->

<h3>for loop</h3>
<h2 *ngFor="let item of students">Student name is : {{item}}</h2>

<h2 *ngFor="let item of studentDetail"> {{item.name}}--{{item.rollno}}--{{item.class}}</h2>

<!-- nested for loop -->

<h3>nested for loop</h3>
<ul *ngFor="let user of users">
    <li>{{user.name}}</li>
    <li>{{user.rollno}}</li>
    <li>Social accounts</li>
    <ul *ngFor="let account of user.IDs">
            <li>{{account}}</li>
    </ul>
</ul>

<!-- style binding -->

<h3>Style Binding</h3>
<h1 [style.Color]="Color" [style.backgroundColor]="bgColor">style binding</h1>
<button (click)="updateColor()">Update color</button>

<!-- Basic Forms -->

<h3>Basic Form</h3>

<form #basicForm="ngForm" (ngSubmit)="func(basicForm.value)">

    <input type="text" ngModel name="user" placeholder="Enter name">
    <br><br>
    <input type="text" ngModel name="email" placeholder="enter email">
    <br><br>
    <input type="text" ngModel name="password" placeholder="enter password">
    <br><br>
    <button>login</button>
</form>
 <ul>
    <li>{{userData.user}}</li>
    <li>{{userData.email}}</li>
    <li>{{userData.password}}</li>
 </ul>

<!-- Toggle function -->

<h3>Toggle function</h3>
<button (click)="toggle()">Toggle</button>   <!-- function name can be anything -->
<div *ngIf="display">
<h1>Click this button</h1>
</div>


<!-- Angular Material UI -->
<h3>Angular Material UI</h3>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<div class="example-label">Raised</div>
<div class="example-button-row">
  <button mat-raised-button>Basic</button>
  <button mat-raised-button color="primary">Primary</button>
  <button mat-raised-button color="accent">Accent</button>
  <button mat-raised-button color="warn">Warn</button>
  <button mat-raised-button disabled>Disabled</button>
  <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
</div>

<!-- Todo List -->

<h3>Todo List</h3>
<input type="text" placeholder="enter task" #task>
<br><br>
<button (click)="addTask(task.value)">add task</button>
<br>
<ul *ngFor="let item of list">
    <li>{{item.name}} <button (click)="removeTask(item.id)">Remove</button></li>
</ul>




<!-- Resuable components -->
<h3>Resuable components</h3>
<ul *ngFor="let user of userDetails">
    <app-user-detail [item]='user'></app-user-detail>
</ul>

<!-- Two way Data Binding -->
<h3>Two way Data Binding</h3>
<input type="text" [(ngModel)]="name2">
<h4>{{name2}}</h4>

<!-- Basic Pipes  -->
<h3>Basic Pipes</h3>
<h2>{{pipe | uppercase}}  </h2> <!--This is uppercase using pipe-->
<h2>{{pipe | lowercase}}  </h2>  <!--This is lowecase-->
<h2>{{pipe }} </h2> <!-- This is normal -->

<h4>{{today | date}}</h4>
<h4>{{today | date : 'fullDate'}}</h4>

<h2>{{capString(pipe)}}</h2>           <!--using another method for converting in uppercase-->
<h2>{{pipe | slice : 3 : 8 | uppercase}}</h2>  <!-- giving parameters in pipe ans using 2 pipe in one line-->

<h2>{{DataPipe | json}}</h2>
<h2>{{num | number : '3.4-8'}}</h2>  <!--number pipe-->

<h2>{{curr | currency : 'INR'}}</h2>
 

