/* You can add global styles to this file, and also import other style files */


.three{
    background-color: pink;
}
h3{
      color: rgb(231, 42, 17);
      font-size: 30px;
       text-decoration: underline;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
